<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/game_api_logo.png" />
    <title>Edit Game | Game API</title>
    <link rel="stylesheet" href="/css/add-game.css" />
  </head>
  <body>
    <form
      class="box"
      action="/web/edit-game/<%= game.id %>"
      method="post"
      enctype="multipart/form-data"
    >
      <h1 class="title">Edit Game</h1>
      <div class="inputContainer">
        <label for="title">Title :</label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Game Title"
          value="<%= game.title %> "
        />
      </div>
      <div class="inputContainer">
        <label for="score">Score :</label>
        <input
          type="number"
          name="score"
          id="score"
          placeholder="Game Score (0-100)"
          min="0"
          max="100"
          value="<%= +game.score %>"
        />
      </div>
      <div class="inputContainer">
        <label for="time">Time :</label>
        <input
          type="number"
          name="hours_time"
          id="time"
          placeholder="Game Time (Hours)"
          min="0"
          value="<%= +game.hours_time %>"
        />
      </div>
      <div class="inputContainer">
        <label for="publisher">Publisher :</label>
        <input
          type="text"
          name="publisher"
          id="publisher"
          placeholder="Game Publisher"
          value="<%= game.publisher %> "
        />
      </div>
      <div class="inputContainer">
        <label>Game Picture :</label>
        <input type="file" name="picture" id="picture" />
      </div>
      <div class="actionsContainer">
        <button class="addGameBtn" type="submit">Edit Game</button>
        <button
          class="cancelBtn"
          type="button"
          onclick="{window.location.href = '/web'}"
        >
          Cancel
        </button>
      </div>
    </form>
  </body>
</html>
