<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/game_api_logo.png" />
    <title>Edit User | Game API</title>
    <link rel="stylesheet" href="/css/edit-user.css" />
  </head>
  <body>
    <form class="box" action="/web/edit-user/<%= userData.id %> " method="post">
      <h1 class="title">Edit User</h1>
      <div class="inputContainer">
        <label for="username">Username :</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          value="<%= userData.user_game.username %>"
        />
      </div>
      <div class="inputContainer">
        <label for="password">Password :</label>
        <input
          type="text"
          name="password"
          id="password"
          placeholder="User Password"
          value="<%= userData.user_game.password %>"
        />
      </div>
      <div class="nameContainer">
        <div class="inputContainer">
          <label for="firstName">First Name :</label>
          <input
            type="text"
            name="firstName"
            id="firstName"
            placeholder="User Firstname"
            value="<%= userData.first_name %>"
          />
        </div>
        <div class="inputContainer">
          <label for="lastName">Last Name :</label>
          <input
            type="text"
            name="lastName"
            id="lastName"
            placeholder="User Lastname"
            value="<%= userData.last_name %>"
          />
        </div>
      </div>
      <div class="inputContainer">
        <label for="country">Country :</label>
        <select
          name="country"
          id="country"
          data-current="<%= userData.country %>"
        >
          <option value="" disabled selected>Select Country</option>
        </select>
      </div>
      <div class="inputContainer">
        <label for="email">E-Mail :</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="User E-Mail"
          value="<%= userData.email %>"
        />
      </div>
      <div class="actionsContainer">
        <button class="addGameBtn" type="submit">Edit User</button>
        <button
          class="cancelBtn"
          type="button"
          onclick="{window.location.href = '/web/users'}"
        >
          Cancel
        </button>
      </div>
    </form>
  </body>
  <script>
    const countryInput = document.getElementById("country");
    const currentCountry = countryInput.getAttribute("data-current");

    const fetchCountries = async () => {
      const response = await fetch(
        "https://restcountries.com/v2/all?fields=name"
      );
      const countries = await response.json();

      countries.forEach((country) => {
        const node = document.createElement("option");
        if (country.name === currentCountry) {
          node.selected = true;
        }
        node.value = country.name;
        const textnode = document.createTextNode(country.name);
        node.appendChild(textnode);

        countryInput.appendChild(node);
      });
    };

    fetchCountries();
  </script>
</html>
