<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body class="min-vh-100 d-flex justify-content-center align-items-center">
    <form class="card p-4 bg-light" action="/web/register" method="post">
      <h1 class="text-center">Register</h1>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          required
        />
      </div>
      <div class="d-flex">
        <div class="form-group mr-2">
          <label for="firstName">First Name</label>
          <input
            class="form-control"
            type="text"
            id="firstName"
            name="firstName"
          />
        </div>
        <div class="form-group ml-2">
          <label for="lastName">Last Name</label>
          <input
            class="form-control"
            type="text"
            id="lastName"
            name="lastName"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input class="form-control" type="email" id="email" name="email" />
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input class="form-control" type="text" id="country" name="country" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          required
        />
      </div>
      <button class="btn btn-primary">Register</button>
    </form>
  </body>
</html>
